<!DOCTYPE html>
<html lang="en">
<head>
   
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/navbar %>
     <div class="container">
        <div class="row">
            <div class="col s12 ">
            <% if(books.length){ %>
            <% for(var i=books.length-1;i>=0;i--) { %>
                <div class="card ">
                        <div class="card-content text-center">
                        <div class="col s2  " style="height:100%">
                        <% if(user){ %>
                            <label for="<%= books[i]._id %>">
                            
                                <input type="checkbox" class="filled-in select" id="<%= books[i]._id %>" data-user="<%= user._id %>"data-title="<%= books[i].title %>" data-author="<%= books[i].author%>" data-ownersname="<%= books[i].ownersname %>" data-city="<%= books[i].city %>"/>
                                <span></span>
                            </label>
                        <% }%>
                        </div>
                        <div class="col s8  text-left">
                           <span id="book-title"><h3 id="book-title"><%= books[i].title %></h3></span><br>
                           <span><h4 id="book-author"><%= books[i].author %></h4></span><br>
                           <% if(books[i].city){ %>
                           <span><h4 ><span id="ownersname"><%= books[i].ownersname %></span> from <span id="city" ><%= books[i].city %></span></h4></span><br>
                           <% }else{ %>
                           <span><h4><span><%= books[i].ownersname %></span> </h4></span><br>
                            <% } %>
                        </div>
                        <div class="col s2 d-flex justify-content-center align-items-center">
                            <label>
                             <%  if(user && books[i].ownersname==user.username){ %>
                                <i id="<%= books[i]._id %>" class="material-icons delete">cancel</i>
                            <% } %>
                            </label>
                        </div>
                        </div>
                    </div>
                <% } %>
               <% } %> 
            </div>
       </div>
        <div class="row ">
            <div class="col s12 center-align">
           <% if(user){ %>
                 <a class="waves-effect waves-light btn" href="/createRequest" id="createRequest">Create Request</a>
           <% }else{ %>
                <a class="waves-effect waves-light btn" href="#">Sign in to submit request </a>
           <% } %>
                   
            </div>
        </div>
    </div>
</body>
<script>
$(function(){
    $(".delete").click(function(event){
            event.stopPropagation()
            console.log("delete clicked")
            const id=$(this).attr("id")

            $.ajax({
                url:"https://book-trading-iliyas.herokuapp.com/books/my",
                method:"DELETE",
                data:{
                id:id
                },
                complete:function(){
                    window.location.reload(true)
                }
            })
        })
    $(".select").click(function(event){
     
            const id=this.dataset.user
           console.log($(this))
            const userid="<%= (user)?user._id:'' %>"
          if(userid){
                if(id==userid ){
                    const title=this.dataset.title
                    const author=this.dataset.author
                    const requestersname=this.dataset.ownersname
                    sessionStorage.setItem("give",JSON.stringify({title:title,author:author,requestersname:requestersname}))
                }else{
                    const title=this.dataset.title
                    const author=this.dataset.author
                    const requestersname=this.dataset.ownersname
                    const city=this.dataset.city
                    sessionStorage.setItem("take",JSON.stringify({title:title,author:author,requestersname:requestersname}))
           }
          }
          
            
    })

   
})

</script>
</html>