<!DOCTYPE html>
<html lang="en">
<head>
   
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/navbar %>
     <div class="container">
        <div class="row">
            <div class="col s12 m6">
            <% if(books.length){ %>
            <% for(var i=books.length-1;i>=0;i--) { %>
                <div class="card ">
                        <div class="card-content text-center">
                        <div class="col s2 d-flex justify-content-center align-items-center">
                            <label for="<%= books[i]._id %>">
                                <input type="checkbox" class="filled-in" id="<%= books[i]._id %>" />

                            </label>
                        </div>
                        <div class="col s8 d-flex justify-content-center align-items-between flex-coloumn">
                           <span><h3><%= books[i].title %></h3></span><br>
                           <span><h4><%= books[i].author %></h4></span><br>
                           <% if(books[i].city){ %>
                           <span><h4><%= books[i].ownersname %> from <%= books[i].city %></h4></span><br>
                            <% }else{ %>
                           <span><h4><%= books[i].ownersname %> </h4></span><br>
                            <% } %>
                        </div>
                        <div class="col s2 d-flex justify-content-between align-items-center">
                            <label>
                             <%  if(user && books[i].ownersname==user.username){ %>
                                <i id="<%= books[i]._id %>" class="material-icons">cancel</i>
                            <% } %>
                            </label>
                        </div>
                        </div>
                    </div>
                <% } %>
               <% } %> 
            </div>
       </div>
        <div class="row ">
            <div class="col s12 center-align">
                    <a class="waves-effect waves-light btn">Create Request</a>
            </div>
        </div>
    </div>
</body>
</html>