<!DOCTYPE html>
<html lang="en">
<head>
   <% include ./partials/head %>
</head>
<body>
    <% include ./partials/navbar %>
    <div class="container">
        <div class="row">
            <form class="col s12 m6" action="/editInfo"  method="post">
                <div class="card">
                       
                            <div class="card-content text-center">  
                                <span class="card-title "><h3><%= user.username %>'s Profile</h3></span><br>
                                <div class="input-field col s6">
                                    <input id="username" name="username"type="text" class="validate" value="<%= user.username %>">
                                    <label for="username">Username</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="fullname" name="fullname" type="text" class="validate" value="<%= user.fullname %>">
                                    <label for="fullname">Fullname</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="city" type="text" name="city" class="validate" value="<%= user.city %>">
                                    <label for="city">City</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="address" type="text" name="address" class="validate" value="<%= user.address %>">
                                    <label for="address">Address</label>
                                </div>
                            </div>

                            <div class="card-action center-align">
                                <input type="submit" id="saveChanges" class="waves-effect btn-flat" value="Save Changes">
                    
                            </div>
                       
                </div>
        </form>
    </div> 
</div>
 
</body>
<script>
$("#saveChanges").click(function(event){
    event.preventDefault()
    const username=$("#username").val()
    const fullname=$("#fullname").val()
    const city=$("#city").val()
    const address=$("#address").val()

    $.ajax({
        url:"https://book-trading-iliyas.herokuapp.com/editInfo",
        method:"PUT",
        data:{
            username:username,
            fullname:fullname,
            city:city,
            address:address
        },
        complete:function(){
            window.location.assign("/userInfo")
        }
    })
})
</script>

</html>