<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/navbar %>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                   <div class="card-content">
                        <div class="row">
                            <div class="col s12 py-2">
                                <h2 class="center-align">Make A Request For Trade</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m6 s12 py-2 ">
                                <h2><%= user.username %> wants to give:</h2>
                                <li class="give list-group-item"></li>
                                <a href="/select/book/give" class="waves-effect btn-flat" >Edit Books To Give</a>
                            </div>
                            <div class="col m6 s12 py-2 ">
                                <h2>and wants to take:</h2>
                                <li class="take list-group-item"></li>
                                <a href="/select/book/take" class="waves-effect btn-flat">Edit Books To Take</a>
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="s12 col center-align">
                                <button type="button" class="btn btn-primary" id="make-request">Make Request</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col  col-md-6 col-sm-12">
                <h2 class="left-align">Your Requests:</h2>
            <% if(requests.length){ %>
                <% for(var i=requests.length-1;i>=0;i--){ %>
                    <% if(requests[i].status=="pending"){ %>
                        <div class="card">
                            <div class="card-content list-group-item">
                                <div class="right-align">
                                    <i class="material-icons delete-request" id="<%= requests[i]._id %>">cancel</i>
                                </div>
                                <div class="row">
                               
                                        <div class="col s12">
                                            <h2><%= user.username %> wants to give:</h2>
                                            <li class="give list-group-item">
                                                <h2><%= requests[i].offeredBook %></h2>
                                                <h5><%= requests[i].offeredBookAuthor %></h5>
                                            </li>
                                        </div>
                                
                                </div>


                                
                                <div class="row">
                                    <div class="col s12">
                                        <h2>and wants to take:</h2>
                                            <li class="take list-group-item">
                                                <h2><%= requests[i].requestedBook %></h2>
                                                <h5><%= requests[i].requestedBookAuthor %></h5>
                                            </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <% } %> 
                    <% } %>
               <% } %>
            
                <h2 class="left-align">cancelled Requests:</h2>
            <% if(requests.length){ %>
                <% for(var i=requests.length-1;i>=0;i--){ %>
                    <% if(requests[i].status=="canceled"){ %>
                        <div class="card">
                            <div class="card-content list-group-item">
                                <div class="right-align">
                                    <i class="material-icons delete-request" id="<%= requests[i]._id %>">cancel</i>
                                </div>
                                <div class="row">
                               
                                        <div class="col s12">
                                            <h2><%= user.username %> wants to give:</h2>
                                            <li class="give list-group-item">
                                                <h2><%= requests[i].offeredBook %></h2>
                                                <h5><%= requests[i].offeredBookAuthor %></h5>
                                            </li>
                                        </div>
                                
                                </div>


                                
                                <div class="row">
                                    <div class="col s12">
                                        <h2>and wants to take:</h2>
                                            <li class="take list-group-item">
                                                <h2><%= requests[i].requestedBook %></h2>
                                                <h5><%= requests[i].requestedBookAuthor %></h5>
                                            </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <% } %> 
                    <% } %>
               <% } %>
            </div>
           <div class="col-md-6 col-sm-12">
             <h2 class="left-align">Requests For You:</h2>
            <% if(offeredRequests.length){ %>
                <% for(var i=offeredRequests.length-1;i>=0;i--){ %>
                    <% if(offeredRequests[i].status=="pending"){ %>
                        <div class="card">
                            <div class="card-content list-group-item">
                                <div class="right-align">
                                    <i class="material-icons delete-request" id="<%= offeredRequests[i]._id %>">cancel</i>
                                </div>
                                <div class="row">
                                        <div class="col s12">
                                            <h2><%= offeredRequests[i].requestersName %> wants to give:</h2>
                                            <li class="give list-group-item">
                                                <h2><%= offeredRequests[i].offeredBook %></h2>
                                                <h5><%= offeredRequests[i].offeredBookAuthor %></h5>
                                            </li>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h2>and wants to take:</h2>
                                        <li class="take list-group-item">
                                            <h2><%= offeredRequests[i].requestedBook %></h2>
                                            <h5><%= offeredRequests[i].requestedBookAuthor %></h5>
                                        </li>
                                    </div>
                                </div>
                                <div class="s12 col center-align">
                                    <button type="button" class="btn btn-primary" id="accept-request" data-id="<%= offeredRequests[i]._id %>">Accept Request</button>
                                    <a href="#" class="waves-effect btn-flat"id="cancel-request" >Cancel</a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
            
            </div>
        </div>
    </div>
    <script>
    $(function(){
        const give=JSON.parse(sessionStorage.getItem("give"))
        const take=JSON.parse(sessionStorage.getItem("take"))    

        if(give){
                const requestersname =give.requestersname
                const title=give.title
                const author=give.author
                var html=""
                html+="<h2>"+title+"</h2>"
                html+="<h5>"+author+"</h5>"
                document.querySelector(".give").innerHTML=html   
            }
        if(take){
                   
                const title=take.title
                const author=take.author
                var html=""
                html+="<h2>"+title+"</h2>"
                html+="<h5>"+author+"</h5>"
                document.querySelector(".take").innerHTML=html   
            }

            $("#make-request").click(function(){
          
                
                 $.ajax({
                url:"https://book-trading-iliyas.herokuapp.com/makeRequest",
                method:"POST",
                data:{
                   requestersName:give.requestersname,
                   offeredBook:give.title,
                   requestedBook:take.title,
                   ownersName:take.ownersname
                },
                complete:function(){
                    sessionStorage.removeItem("give")
                    sessionStorage.removeItem("take")
                    window.location.assign("/books")
                }
            })

            })
            $(".delete-request").click(function(){
                console.log(this.id)
            $.ajax({
                     url:"https://book-trading-iliyas.herokuapp.com/delete/request",
                     method:"DELETE",
                     data:{
                     id:this.id
                    },
                    complete:function(){
                        window.location.assign("/createRequests")
                    }
            })

            })
       
           $("#accept-request").click(function(){
               $.ajax({
                    url:"https://book-trading-iliyas.herokuapp.com/accept/request",
                     method:"PUT",
                     data:{
                     id:this.dataset.id
                    },
                    complete:function(){
                        window.location.assign("/createRequests")
                    }
               })
           })
           $("#cancel-request").click(function(){
               $.ajax({
                    url:"https://book-trading-iliyas.herokuapp.com/cancel/request",
                     method:"PUT",
                     data:{
                     id:this.dataset.id
                    },
                    complete:function(){
                       // window.location.assign("/createRequests")
                    }

               })
           })
        })
    </script>

</body>
</html>